---
import GlobalLayout from '../../layouts/GlobalLayout.astro';
import PageHeader from '../../components/game/PageHeader.astro';
import ArticleDetail from '../../components/article/ArticleDetail.astro';
import { articles } from '../../data/articles';
import { getArticleHref } from '../../utils/article-routes';

export function getStaticPaths() {
  return articles.map((article) => ({
    params: { slug: article.slug },
    props: { article },
  }));
}

const { article } = Astro.props;

if (article.gameSlug) {
  return Astro.redirect(getArticleHref(article), 301);
}
---

<GlobalLayout title={article.title} description={article.excerpt}>
  <PageHeader
    badge={article.category}
    title={article.title}
    description={article.excerpt}
  />
  <div class="page-container-below-header">
    <ArticleDetail article={article} />
  </div>
</GlobalLayout>
